:root {
	--text-color: #474747;
	--main-color: #2E85D6;
	--accent-color: #95CCFF;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	/*overflow-x: hidden;*/
}

.wrapper::before,
.wrapper::after {
	content: "";
	display: table;
}

.wrapper::after {
	clear: both;
}

.container-fluid {
	margin: 0 auto;
	width: 100%;
	padding: 0;
}

.top-ribbon-main {
	position: absolute;
	top: 0;
	z-index: 1;
}

.text-result-title {
	font-family: "P-Bold";
	font-size: 24px;
	color: var(--text-color);
}

.text-main {
	color: var(--main-color);
}

.text-result-subtitle {
	font-family: "P-Regular";
	font-size: 18px;
	color: var(--text-color);
}

.result-image img {
	width: 230px;
}

.result-tips .container {
	max-width: 500px;
	overflow-wrap: break-word;
}

.text-result-tips {
	font-size: 15px;
	font-family: "P-Regular";
	color: var(--text-color);
	line-height: 25px;
}

.blog-image .container {
	max-width: 80vw;
	height: 500px;
	border-radius: 30px;
	background-size: cover;
	background-position: center;
}

.blog-label {
	color: var(--main-color);
	font-family: "P-Medium";
}

.blog-label h5 {
	font-size: 18px;
}

.blog-title {
	color: var(--text-color);
	font-family: "P-Bold";
}

.blog-title h3 {
	color: var(--text-color);
	font-family: "P-Bold";
	font-size: 25px;
}

.btn-main {
	background-color: var(--main-color);
	padding: 5px 15px;
	color: white;
	font-family: "P-Regular";
	font-size: 15px;
	border-radius: 30px;
	cursor: pointer;
}

.btn-main:hover {
	background-color: var(--accent-color);
	text-decoration: none;
	color: white;
}

.blog-content {
	text-align: justify;
	color: var(--text-color);
	font-size: 17px;
	font-family: "P-Regular";
}

.animate-up-down {
	-webkit-animation: updown 1s infinite alternate;
    animation: updown 1s infinite alternate;
}

@-webkit-keyframes updown {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes updown {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@media only screen and (max-width: 768px) {
	.blog-info {
		flex-direction: column;
	    align-items: flex-start;
	}

	.blog-image .container {
		max-width: 80vw;
		height: 200px;
	}
}